SUPABASE_URL=https://szpufmpnvmhafycgkjps.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6cHVmbXBudm1oYWZ5Y2dranBzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTkzOTQ3MiwiZXhwIjoyMDkxNTE1NDcyfQ.HmQs8B7Z8h5tjX7p7F6Z8kDOf3VrOFV8xI0pPIJ8FaM
ALLOW_ORIGIN=http://localhost:5173
